

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   

   .pisca{
  
      font-size:2.4em;
      font-family: 'open_sansbold';
      font-weight: bold; text-align:center;
      display: inline-flex;
    
    }
    
    .pisca span{
    
      color: #242424;
      font-family: 'open_sansbold';
      display: block;
      float: left;
      position: relative;
      margin: 0 4px;
      padding: 0;
      animation: animate 2.5s linear infinite;
      
    }
    
    .pisca span:nth-child(1){
      animation-delay: 0s;
    }
    .pisca span:nth-child(2){
      animation-delay: .25s;
    }
    .pisca span:nth-child(2){
      animation-delay: .5s;
    }
    .pisca span:nth-child(3){
      animation-delay: .75s;
    }
    .pisca span:nth-child(4){
      animation-delay: 1s;
    }
    .pisca span:nth-child(5){
      animation-delay: 1.25s;
    }
    .pisca span:nth-child(6){
      animation-delay: 1.5s;
    }
    .pisca span:nth-child(7){
      animation-delay: 1.75s;
    }
    .pisca span:nth-child(8){
      animation-delay: 2s;
    }
    
    
    
    @keyframes animate {
      0%, 100%{
        color: #ffffff;
        text-shadow: 0 0 20px #ff3c00,
          0 0 10px #ff3c00,
          0 0 40px #ff3c00,
          0 0 80px #ff3c00,
          0 0 120px #ff3c00,
          0 0 200px #ff3c00;
    
      }
    
      5%, 95%{ color: #242424; text-shadow: none;
      
      }
    }
.img{
   width: 50%;
}


.box-carrossel   { 

  width:100%;
  overflow:hidden; 
  margin:auto; 
  background:#fff; 
  box-shadow: 1px 0px 1.2px 0px #e3e3e3; 
  border-radius:3px; 
  padding:0.6em; 

}

.artigos-carrossel {

 width:100%;
 float:left;
 display:inline-block;
 padding: 8px;
 border-bottom:1px #f2f2f2 solid;

}

.artigos-carrossel .imagem {

 width:30%;
 margin-right:3%; 
 float:left;
 display:none;

}

.artigos-carrossel .imagem img { 
  
  width:100%; 
  height:100%; 
  border-radius:6px;

}

.artigos-carrossel .texto {

 width:100%;
 float:left;
 
}

.artigos-carrossel .texto p{

 font-family: 'open_sanslight';
 font-size:1em;
 
}

.artigos-carrossel .texto a {

 text-decoration:none;
 font-family: 'open_sansregular';
 color:#00ced3;
 font-size:0.9em;
 transition:0.3s;
 
}

.artigos-carrossel .texto a:hover {

 text-decoration:underline;
 color:#343434;
 
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{ --branco: #ffffff; }


.footer{

	background-color: #121213;
	width: 100%;
	height:100%;
	float: left;
	font-size: 18px;
	padding: 50px 10px 50px 10px;

}

.footer .left{ 

	width:100%; 
	float:left; 
	border-bottom:1px #222424 solid;
	border-right:0; 
	margin-bottom:20px; 
    padding-bottom:20px;
}

.footer .title-footer {

	color: #ffffff;
	font-family: 'DM Sans', sans-serif;
	font-weight: initial;
    font-size:26px;
    width:100%;
    float:left;
    margin-bottom:15px;

}

.footer .title-footer span{

	color:  #2fcacf;
	font-family:'DM Sans', sans-serif;
	font-weight: bold;

}

/* Footer links */

.footer .links{
	
	width: 100%;
	float: left;
	color:  #ffffff;
	margin-bottom: 20px;
	padding: 0;

}

.footer .links a{

    display: block;
    line-height: 33px;
    text-decoration: none;
    color: #fff;
    font-family:'DM Sans', sans-serif;
    font-size:16px;
    transition:0.3s;


}

.footer .links a:hover { color:#2fcacf; }

.footer .Copyright{

	font-family:'DM Sans', sans-serif;
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 10px;

}

/*Rede Sociais*/

.footer .footer-icons{
	
	width:100%;
	float:left;
	margin-bottom:20px;
}

.footer .footer-icons a{

	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 50px;
    font-family:'DM Sans', sans-serif;
	font-size: 20px;
	color: #ffffff;
	text-align: center;	
	line-height: 35px;
	margin-bottom: 5px;
	transition:0.3s;

}

.footer .footer-icons a:hover{ background-color:#2fcacf; }

/*Right*/

.footer .right   { width:100%; float:left; }
.footer .right p {

	font-family: 'DM Sans', sans-serif;
	font-weight: initial;
	display: inline-block;
	vertical-align: top;
	font-size: 30px;
	color: #ffffff;

}

/*formulario*/

.footer form { width:100%; float:left; }

.footer form input,
.footer form textarea{

	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;
    outline: none;
	font: inherit;
	font-size: 14px;
	font-family:'DM Sans', sans-serif;
	font-weight: normal;
	color:  #d1d2d2;
	width: 100%;
	padding: 18px;

}

.footer ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer :-ms-input-placeholder{
	color:  #5c666b;
}


.footer form input{
	
	width: 100%;
	height: 55px;
	float: left;
	margin-bottom: 15px;

}

.footer form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer form .btn{

	border-radius: 3px;
	background-color:  #1f2022;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-family: 'DM Sans', sans-serif;
	font-weight: bold;
	float: left;
	cursor: pointer;
    transition: 0.3s;


}

.footer form .btn:hover { background-color:  #2fcacf; }

/*Responsive*/
@media (min-width: 1280px) {

	.footer               { padding: 100px 50px 50px 100px; }
	.footer .Copyright    { font-size: 16px; }
	.footer form input,
	.footer form textarea { width: 100%; float:left; }
	.footer form button   { padding: 10px 35px; }

}

@media (min-width: 768px) {
	
	.footer .left         { width:48%; border-bottom:0; }
	.footer .right        { width:48%; padding-left: 4%; border-left: 1px #222424 solid; } 
	.footer form          { margin-top: 30px; }
	.footer form          { display: block; }
	.footer form button   { float: none; }

}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width:48em){

.box-carrossel   { width:50%;}
.artigos-carrossel .imagem { display:block; }
.artigos-carrossel .texto  { width:67%; }

} 












